header {
  margin-bottom: 1em;
}

article {
  display: flex;
  flex-direction: row;
  margin: 0.25em 0;
  gap: 1ch;
  justify-content: space-between;
}

article > * {
  margin: 0;
  padding: 0;
}

article h2 {
  font-size: 1em;
}

article.featured {
  display: flex;
  flex-direction: column;
  justify-content: unset;

  border: 1px solid var(--accent-col);
  border-radius: 6px;
  padding: 1em;
  margin: 1em 0;

  gap: 0.5em;
}

article:not(.featured) .description {
  display: block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  flex: 1;
}
