main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main > div > .non-footnote-content {
  flex: 1;
}

main > div > .footnotes-sep {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 1em;
}

header h1 {
  font-size: 1.75rem;
}

header > * {
  margin: 0;
  padding: 0;
}

header time {
  color: #a1a1a1;
}

img {
  margin: 0.75em auto;
  width: auto;
  max-width: 90ch;

  margin-left: 50%;
  transform: translateX(-50%);
}

img.medium-sized {
  height: 32em;
}

@media (max-width: 90ch) {
  img {
    max-width: 90vw;
  }
}

figure {
  background: var(--bg-col-2);
  padding: 1em;
  border-radius: 0.5em;
}

figure figcaption {
  text-align: center;
}

.footnote-ref a, a.footnote-backref {
  border-bottom: none;
}

h1, h2, h3 {
  margin-top: 1.75em;
}
