h1 {
  margin: 0.5em 0;
  font-size: 1.75rem;
}

section > h2:first-child, section > h3:first-child {
  margin-top: 0.75rem;
}

section + section {
  margin-top: 2.5em;
}

header > h1:first-child {
  margin-top: 0.75rem;
}

header {
  display: flex;
  flex-direction: row;

  align-items: center;
  vertical-align: middle;
}

header :first-child {
  flex: 1;
}

header img {
  height: 5em;
  border-radius: 8px;
}
