:root {
  --bg-col: #121212;
  --bg-col-2: #181818;

  --fg-col: #ffffff;

  --accent-col: rgb(255, 167, 248);
  --accent-col-2: rgb(255, 93, 241);
  --accent-col-translucent: rgba(255, 167, 248, 0.35);
  --accent-col-translucent-2: hsla(305, 100%, 80%, 0.25);
}

::selection {
  background-color: var(--accent-col-translucent);
}

html {
  color-scheme: dark;

  font-family: "Rouna", 'Noto Color Emoji', sans-serif;
  font-size: 13pt;
  line-height: 1.4em;
  letter-spacing: 0.025ch;

  background-color: var(--bg-col);
  color: var(--fg-col);
}

body {
  margin: 0;
  padding: 0 1em;

  display: flex;
  flex-direction: column;

  min-height: 100vh;

  overflow-x: hidden;
}

body > * {
  width: 100%;
  max-width: 75ch;
  margin: 0 auto;
}

main {
  flex: 1;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--accent-col-translucent-2);
  margin-bottom: 1em;
}

nav a {
  padding: 0.5em;
  border-bottom: none;
  color: var(--fg-col);
}

nav a:hover, nav a:focus, nav a:active {
  color: var(--accent-col);
}

nav a:first-child {
  padding-inline-start: 0;
}

nav a:first-child::before {
  color: var(--accent-col);
  content: " ";
  border-inline-start: 3px solid var(--accent-col);
  margin-inline-end: 1ch;
}

header {
  border-bottom: 1px dashed var(--accent-col-translucent-2);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 2em;
  padding: 1em 0;
}

footer p {
  margin: 0;
}

a {
  color: var(--accent-col);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-col);

  transition-property: color border-color;
  transition-duration: 0.2s;
}
a:hover,
a:focus,
a:active {
  color: var(--accent-col-2);
  border-color: var(--accent-col-2);
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0.75rem 0;
  margin-top: 1.5rem;
  line-height: 1.2em;
}

header > h1:first-child {
  margin-top: 0;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0.75rem 0;
  margin-top: 1.5rem;
}

h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.75rem 0;
}

p {
  margin: 1.25rem 0;
}

code, kbd {
  font-family: "SF Mono", "Source Code Pro", "Fira Mono", "Roboto Mono", monospace;
  display: inline-block;
  padding: 0.225em 0.35em;
  background: var(--bg-col);
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9em;
}

pre > code {
  background-color: var(--bg-col-2);
  display: block;
  border-radius: 0.5em;
  padding: 1em;
  line-height: 1.4em;
  font-weight: normal;
}

:root {
  --hl-comment: #555c6d;
  --hl-keyword: #9bedff;
  --hl-builtin: #ff94d1;
  --hl-string: #95ffc3;
  --hl-ident: #d8a8ff;
  --hl-number: var(--hl-string);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: var(--hl-comment);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: var(--hl-keyword);
}

.hljs-function .hljs-keyword, .hljs-built_in {
  color: var(--hl-builtin);
}

.hljs-string {
  color: var(--hl-string);
}

.hljs-type {
  color: var(--hl-builtin);
}

.hljs-title, .hljs-name {
  color: var(--hl-ident);
}

.hljs-number, .hljs-addition {
  color: var(--hl-number);
}

.hljs-keyword,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-list li {
  margin: 0.25em 0;
  padding: 0;
}
