<footer>
  <section>
    by Charlotte Som
    <br>
    <a href="/anti-copyright/">Anti-copyright</a>
  </section>

  <section>
    <a href="https://github.com/char/char.lt">Source code</a>
    ·
    <a href="/cv.pdf">CV</a>
    <br>
    ΘΔ · 🏳️‍⚧️
  </section>
</footer>
