<nav>
  <div><a href="/">char.lt</a></div>

  <ul>
    {{ function navItem(label, href, active) }}
      <li><a class="{{ active ? "active" : "" }}" href="{{ href }}">{{ label }}</a></li>
    {{ /function }}
    {{ navItem("home", "/", url === "/") }}
    {{ navItem("blog", "/blog/", url.startsWith("/blog/")) }}
    {{ navItem("music", "/music/", url === "/music/") }}
  </ul>
</nav>
