---
layout: main-page.jsx
---

header
  div
    h1 charlotte athena som :)
    p multispecialist technician &amp; computer multimedia artist
  img.profile-picture(src="/assets/pfp.jpg")

section#introduction
  p
    | hello! welcome to  
    kbd char.lt
    | : i'm charlotte! the domain is, like, my name :o

  p in my free time, i reverse engineer &amp; mod games, make little websites, write real-time audio plugins, and do music production.
  p currently, the project that takes up the majority of my free time is a work-in-progress additive synthesizer.

  p
    | you can find some of my software projects on 
    a(rel='me', href="https://github.com/char/") github
    |  and 
    a(rel='me', href="https://git.lavender.software/char") git.lavender.software
    | .

  p
    | if you'd like to get in contact with me (e.g. to show me something you think i'd find interesting, 
    | or just to ask a question), you can send me an email:
    kbd charlotte AT som DOT codes

  p i hope you have a nice day!

section#software
  h2 software

  p like any computer toucher, i have written a lot of software so far. here is a selection:

  ul.no-list
    li
      a(href="https://paramorphism.dev") Paramorphism
      |  (discontinued) – a JVM bytecode obfuscator targeting Java/Kotlin
    li
      a(href="https://github.com/char/Koffee") Koffee
      |  – a programmable JVM bytecode assembler DSL in Kotlin
    li
      a(href="https://git.lavender.software/char/phoebe") phoebe
      |  – a best-effort double-puppeting bridge for Discord and Matrix
    li
      a(href="https://github.com/char/ssh-lockbox") ssh-lockbox
      |  - a centralized store &amp; deployment solution for users' public SSH keys

section#music
  h2 music

  p
    | i am super into hyperpop &amp; dubstep. i just love maximalist sound design!
    | i'm also really into DSP and music software, so I will (eventually) release some audio
    | plug-ins for music production.

  p
    | i don't have many songs out yet, but you can find some of my live sets on 
    a(href="https://soundcloud.com/char-lt") SoundCloud
    | . they're, like, heavily-produced mashup compilations.
