* {
  box-sizing: border-box;
}

:root {
  --bg-col: #100e11;
  --bg-col-2: #181419;
  --bg-col-3: #211a22;

  --fg-col: #f3eef2;
  --fg-col-mute: #958792;

  --accent-col: #ff9df5;
  --accent-col-mute-1: #b86caf;
  --accent-col-mute-2: #493045;
  --accent-col-fade-1: #ffd0fb;

  --content-width: 720px;
  --page-gutter: 1rem;
}

html {
  color-scheme: dark;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.58;
  text-rendering: optimizeLegibility;

  background: var(--bg-col);
  color: var(--fg-col);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "InterVariable", sans-serif;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::selection {
  background-color: #6d3567;
}

main {
  width: min(100% - var(--page-gutter) * 2, 1040px);
  margin: 1rem auto 2.5rem;

  & > * {
    margin: 0;
  }

  & > * + * {
    margin-top: 2rem;
  }

  & > :not(nav) > :first-child {
    margin-top: 0;
  }
}

header {
  padding: 2rem 0 0;
  border-bottom: 1px solid var(--accent-col-mute-1);

  & time {
    color: var(--fg-col-mute);
  }
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0 0 0.75em;
  line-height: 1.08;
}

h1 {
  font-size: 1.75rem;
  font-weight: 520;
  text-wrap: pretty;
}

h2 {
  margin-top: 2rem;
  color: var(--fg-col);
  font-size: 1.5rem;
  font-weight: 650;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}

p {
  margin: 0.75rem 0;
}

ul,
ol {
  padding-left: 1.25rem;
}

li + li {
  margin-top: 0.25rem;
}

code,
kbd {
  font-family: "Ioskeley", ui-monospace, "SF Mono", "Cascadia Code", "Roboto Mono", monospace;
  font-size: 0.875em;
  font-weight: 500;

  padding: 0.125em 0.25em;
  margin: 0 0.125em;
  background: var(--bg-col-2);
  color: var(--fg-col);
}

a {
  color: var(--accent-col);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;

  &:hover {
    color: var(--accent-col-fade-1);
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: baseline;

  color: var(--fg-col-mute);

  & a {
    color: var(--accent-col);
    text-decoration: none;
  }

  & > div {
    display: flex;
    gap: 0.5em;
    color: var(--accent-col);
    font-weight: 650;

    &::after {
      content: "|";
      color: var(--fg-col-mute);
      font-weight: 400;
    }
  }

  & > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      display: flex;
      gap: 0.5em;
      margin-top: 0;

      & + li::before {
        content: "|";
        color: var(--fg-col-mute);
      }
    }

    & a {
      &.active {
        color: var(--fg-col);
      }

      &:hover {
        color: var(--fg-col);
      }
    }
  }
}

article,
aside {
  max-width: var(--content-width);
}

footer {
  display: flex;
  gap: 1rem;

  padding-top: 1rem;
  border-top: 1px solid var(--accent-col-mute-1);
  color: var(--fg-col-mute);
  font-size: 0.8rem;

  & > * {
    flex: 1;
    text-align: center;
  }

  & > :first-child {
    text-align: start;
  }

  & > :last-child {
    text-align: end;
  }

  & a {
    color: unset;
  }
}

pre {
  margin: 1.5rem 0;
  background: var(--bg-col-2);
  overflow-x: auto;

  & > code {
    display: block;
    border-left: 2px solid var(--accent-col-mute-1);
    white-space: pre;

    padding: 1rem;
    margin: 0;

    line-height: 1.45;
    font-size: 0.8rem;
    font-weight: 500;

    background: transparent;
  }
}

video,
img,
picture {
  width: 100%;
}

@media (min-width: 1050px) {
  html {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 2rem;
  }

  main {
    --page-gutter: 2rem;

    display: grid;
    grid-template-columns: 12rem minmax(0, var(--content-width));
    column-gap: 4rem;
    row-gap: 1rem;
    align-items: start;
    margin-top: 4rem;

    & > * + * {
      margin-top: 0;
    }

    & > :not(nav) {
      grid-column: 2;
    }
  }

  nav {
    position: sticky;
    top: 3rem;
    display: block;
    padding: 0;
    border: 0;

    & a {
      color: inherit;
    }

    & > div {
      display: block;
      padding-bottom: 0.5em;
      border-bottom: 1px solid var(--accent-col-mute-1);

      &::after {
        content: none;
      }
    }

    & > ul {
      display: block;
      margin-top: 0.5em;

      & li {
        display: block;

        & + li::before {
          content: none;
        }
      }

      & a {
        &.active {
          color: var(--fg-col);

          &::after {
            content: " ←";
            color: var(--accent-col);
          }
        }
      }
    }
  }

  header {
    padding-top: 0;
  }
}
